.scripts
.verdacio
.vscode
dist
docs
# omit almost all connectors
libs/connectors/*
!libs/connectors/common/
!libs/connectors/framework/
node_modules
tmp
tools
.editorconfig
.dockerignore
.env
.env.*
!**/.env.prod-build
.eslintignore
.gitignore
.prettierignore
components.json
Dockerfile
env.d.ts
Makefile
README.md
TODO.md

apps/api-gateway-e2e
apps/web-e2e

.git
*.log
*.md
.next
