@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    /* My custom */
    --strategy-buy: 142.1 76.2% 36.3%;
    --strategy-buy-foreground: 210 20% 98%;
    /* --strategy-buy-foreground: 355.7 100% 97.3%; */
    --strategy-execution: 0 72.2% 50.6%;
    --strategy-execution-foreground: 210 20% 98%;
    /* --strategy-execution-foreground: 0 85.7% 97.3%; */
    --positive: 142.1 70.6% 45.3%;
    --positive-foreground: 210 20% 98%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;

    /* My custom */
    --strategy-buy: 142.1 70.6% 45.3%;
    --strategy-buy-foreground: 210 20% 98%;
    /* --strategy-buy-foreground: 144.9 80.4% 10%; */
    --strategy-execution: 0 72.2% 50.6%;
    --strategy-execution-foreground: 210 20% 98%;
    /* --strategy-execution-foreground: 0 85.7% 97.3%; */
    --positive: 142.1 70.6% 45.3%;
    --positive-foreground: 210 20% 98%;
  }

  /* Purole from 08.08.2023 */
  /*
  :root {
    --background-page: 0 0% 96%;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary: 261 70.4% 47.5%;
    --secondary-foreground: 261 50.4% 98%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background-page: 224 41% 2%;
    --background: 261 70% 5%;
    --foreground: 213 31% 91%;

    --muted: 261 30% 17%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 261 20% 14%;
    --accent-foreground: 261 40% 98%;

    --popover: 261 20% 7%;
    --popover-foreground: 215 20.2% 91%;

    --border: 261 50% 17%;
    --input: 261 50% 17%;

    --card: 261 20% 7%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 261 80.4% 45%;
    --secondary-foreground: 261 50.4% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 261 34% 17%;

    --radius: 0.5rem;
  } */

  /* purple improved 1 */
  /* .dark {
    --background-page: 224 71% 3%;
    --background: 261 70% 5%;
    --foreground: 213 31% 91%;

    --muted: 261 30% 17%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 261 20% 10%;
    --accent-foreground: 261 40% 98%;

    --popover: 261 20% 5%;
    --popover-foreground: 215 20.2% 91%;

    --border: 261 34% 17%;
    --input: 261 34% 17%;

    --card: 261 8% 8%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 261 70.4% 60%;
    --secondary-foreground: 261 50.4% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 261 34% 17%;

    --radius: 0.5rem;
  } */

  /* purple */
  /* .dark {
    --background-page: 224 71% 3%;
    --background: 261 70% 5%;
    --foreground: 213 31% 91%;

    --muted: 261 30% 17%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 261 20% 17%;
    --accent-foreground: 261 40% 98%;

    --popover: 261 20% 7%;
    --popover-foreground: 215 20.2% 91%;

    --border: 261 34% 17%;
    --input: 261 34% 17%;

    --card: 261 20% 5%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 261 80.4% 55%;
    --secondary-foreground: 261 50.4% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 261 34% 17%;

    --radius: 0.5rem;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/* html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
svg {
  display: block;
  vertical-align: middle;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}
pre {
  background-color: rgba(55, 65, 81, 1);
  border-radius: 0.25rem;
  color: rgba(229, 231, 235, 1);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  overflow: scroll;
  padding: 0.5rem 0.75rem;
} */
