strict-peer-dependencies=false
auto-install-peers=true
ignore-scripts=true
# registry=${REGISTRY_USERNAME}:${REGISTRY_PASSWORD}@${REGISTRY_URL}
registry=${REGISTRY_URL}
//${REGISTRY_URL}/:_authToken=${REGISTRY_TOKEN}
